/Percentages2/nbproject/private/
/Percentages2/build/
/JavaApplication24/nbproject/private/
/JAVA POE/nbproject/private/
/JAVA POE/build/
/JAVA POE/dist/
/Login_system/nbproject/private/
/JavaApplication27/nbproject/private/
/JavaApplication27/build/
/POE/build/
/POE/dist/
